/PayrollCaseStudy.ConsoleHost/bin
/PayrollCaseStudy.ConsoleHost/obj
/PayrollCaseStudy.Domain/obj
/PayrollCaseStudy.Domain/bin
/PayrollCaseStudy.Domain.Tests/obj
/PayrollCaseStudy.Domain.Tests/bin
/PayrollCaseStudy.ConsoleHost/PayrollCaseStudy.ConsoleHost.v11.suo
/PayrollCaseStudy.v11.suo
/PayrollCaseStudy.Affiliations/obj
/PayrollCaseStudy.Affiliations/bin
/PayrollCaseStudy.Classifications/obj
/PayrollCaseStudy.Classifications/bin
/PayrollCaseStudy.CommonTypes/obj
/PayrollCaseStudy.CommonTypes/bin
/PayrollCaseStudy.Methods/obj
/PayrollCaseStudy.Methods/bin
/PayrollCaseStudy.Pay/bin
/PayrollCaseStudy.Pay/obj
/PayrollCaseStudy.PayrollDatabase/obj
/PayrollCaseStudy.PayrollDatabase/bin
/PayrollCaseStudy.PayrollApplication/obj
/PayrollCaseStudy.PayrollApplication/bin
/PayrollCaseStudy.Schedules/obj
/PayrollCaseStudy.Schedules/bin
/PayrollCaseStudy.Transactions/obj
/PayrollCaseStudy.Transactions/bin
/PayrollCaseStudy.Tests/obj
/PayrollCaseStudy.Tests/bin
