/PayrollCaseStudy.ConsoleHost/bin
/PayrollCaseStudy.ConsoleHost/obj
/PayrollCaseStudy.Domain/obj
/PayrollCaseStudy.Domain/bin
/PayrollCaseStudy.Domain.Tests/obj
/PayrollCaseStudy.Domain.Tests/bin
/PayrollCaseStudy.ConsoleHost/PayrollCaseStudy.ConsoleHost.v11.suo
/PayrollCaseStudy.v11.suo
