/PayrollCaseStudy.ConsoleHost/bin
/PayrollCaseStudy.ConsoleHost/obj
/PayrollCaseStudy.Domain/obj
/PayrollCaseStudy.Domain/bin
/PayrollCaseStudy.Domain.Tests/obj
/PayrollCaseStudy.Domain.Tests/bin
/PayrollCaseStudy.ConsoleHost/PayrollCaseStudy.ConsoleHost.v11.suo
/PayrollCaseStudy.v11.suo
/PayrollCaseStudy.Affiliations/obj
/PayrollCaseStudy.Affiliations/bin
/PayrollCaseStudy.Classifications/obj
/PayrollCaseStudy.Classifications/bin
/PayrollCaseStudy.CommonTypes/obj
/PayrollCaseStudy.CommonTypes/bin
/PayrollCaseStudy.Methods/obj
/PayrollCaseStudy.Methods/bin
/PayrollCaseStudy.Pay/bin
/PayrollCaseStudy.Pay/obj
/PayrollCaseStudy.PayrollDatabase/obj
/PayrollCaseStudy.PayrollDatabase/bin
/PayrollCaseStudy.PayrollApplication/obj
/PayrollCaseStudy.PayrollApplication/bin
/PayrollCaseStudy.Schedules/obj
/PayrollCaseStudy.Schedules/bin
/PayrollCaseStudy.Transactions/obj
/PayrollCaseStudy.Transactions/bin
/PayrollCaseStudy.Tests/obj
/PayrollCaseStudy.Tests/bin
/PayrollCaseStudy.EmployeeDataTransactions/bin
/PayrollCaseStudy.EmployeeDataTransactions/obj
/PayrollCaseStudy.Employees/obj
/PayrollCaseStudy.Employees/bin
/PayrollCaseStudy.InMemPayrollDatabase/bin
/PayrollCaseStudy.InMemPayrollDatabase/obj
/PayrollCaseStudy.Payday/obj
/PayrollCaseStudy.Payday/bin
/PayrollCaseStudy.PayrollDomain/obj
/PayrollCaseStudy.PayrollDomain/bin
/PayrollCaseStudy.TextParser/obj
/PayrollCaseStudy.TextParser/bin
/PayrollCaseStudy.AffiliationTransactions/bin
/PayrollCaseStudy.AffiliationTransactions/obj
/PayrollCaseStudy.ClassificationTransactions/bin
/PayrollCaseStudy.ClassificationTransactions/obj
/PayrollCaseStudy.GeneralTransactions/bin
/PayrollCaseStudy.GeneralTransactions/obj
/PayrollCaseStudy.MethodTransactions/bin
/PayrollCaseStudy.MethodTransactions/obj
/PayrollCaseStudy.TransactionApplication/obj
/PayrollCaseStudy.TransactionApplication/bin
